{% load i18n %}
{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{%url 'main:index' %}">{% trans "Blog" %}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href={% url "main:index" %}>{% trans "Home" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'main:chat_rag' %}">{% trans "ChatBot_Rag" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'main:chatbot' %}">{% trans "ChatBot" %}</a>
        </li>
    </ul>
      
      <form class="d-flex" role="search">
        <a class="nav-link" href="/en/"> {%  trans "En" %} <img  src="{% static 'images/en_drapeau.jpeg' %}" alt="{% trans 'English' %}" /></a>
        <a class="nav-link" href="/fr/"> {%  trans "Fr" %} <img  src="{% static 'images/fr_drapeau.png' %}" alt="{% trans 'French' %}" /></a>
      </form>
    </div>
  </div>
</nav>
